@charset 'UTF-08';

@font-face {
    font-family: ETP;
    src: url('../Fonte/CaviarDreams.ttf') format('truetype');
}

:root{
    --cor0:#3F877C;
    --cor1:#f6a19c;
    --cor2:#e97e7c; 
    
    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    --fonte-ETP: 'ETP', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}


header{
    min-height: 240px;
    background-color: white;
}

header>div{
    background-color: var(--cor0);
    display: flex;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

header a{
    color: white;
    padding: 4px;
    text-decoration: none;
    padding-left: 10px;
}

header a:hover{
    text-decoration: underline;
    color: var(--cor1);
    transition-duration: 0.4s;
}
header img{
    display: block;
    margin: auto;
    padding-top: 10px;
}
nav{
    background-color: var(--cor1);
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 10px;
}
nav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: var(--cor2);
}

nav a:hover{
    background-color: white;
    border: 4px solid var(--cor2);
    border-radius: 5px;
    color: var(--cor2);
    transition-duration: 0.4s;
}

main{
    background-color: white;
    margin: auto;
    max-width: 1000px;
    padding: 10px 15px;
    border: 4px;
    border-radius: 10px;
    border-style: dotted;
    border-color: #3F877C;
    font-family: var(--fonte-destaque);
}

main h2{
    font-family: var(--fonte-ETP);
    font-weight: bold;
    font-size: 1.8em;
    text-indent: 5px;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    padding: 10px
}

main p{
    padding: 10px;
    text-align: justify;
}
hr {
    border: 2px solid var(--cor1);
    border-radius: 10px;
}
.container{
    display: flex;
    padding: 25px;
    align-items: center;
}

.container img{
    margin: 20px;
    border: 5px solid var(--cor0);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#modelos p{
    text-align: justify;
    padding: 0px 10px;
}

#vendas {
    columns: 2;
    padding-top: 10px;
}

#feedbacks{
    padding-top: 10px;
}

#eu{
    padding-top: 10px;
}
.container2{
    display: flex;
    padding: 25px;
    align-items: center;
}

.container2 img{
    margin: 20px;
    margin: auto;
    border: 5px solid var(--cor0);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

footer {
    color: white;
    margin-top: 20px;
    min-height: 100px;
    background: var(--cor1);
    display: flex;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

footer .boxs{
    width: 320px;
    min-height: 150px;
    padding: 0px 0px 0px 100px;
}

footer .boxs{
    line-height: 2em;
}

footer h3{
    color: var(--cor0);
    font-family: var(--fonte-destaque);
    text-decoration: underline;
    
}
footer h3,ul{
    padding-top: 10px;
    font-family: var(--fonte-padrão);
    font-weight: bold;
}

.video iframe{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.sociais a{
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.sociais a:hover{
    text-decoration: underline;
    color: var(--cor0);
    transition-duration: 0.4s;

.rodape{
    background-color: var(--cor0);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-family: var(--fonte-padrão);
}


